{% extends 'base.html.twig' %}

{% block title %}Modifier Tâche{% endblock %}

{% block body %}

  <div class="container mt-4 form_register">

    <h1 class="text-center my-5">Modifier cette tâche</h1>

    <div class="mt-4"> {{ include('task/_form.html.twig', {'button_label': 'Modifier'}) }}</div>

    <div class="my-5">{% include 'task/_delete_form.html.twig' %}</div>

  </div>
{% endblock %}
