{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tâche{% endblock %}

{% block body %}

  <div class="container form_register">

    <h1 class="text-center mb-5">Créer une tâche</h1>

    {% include 'task/_form.html.twig' %}

  </div>

{% endblock %}
