<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content=" Oriane NJILIE">
        <meta name="description" content="Carnet d'adresse des tâches">

        <title>{% block title %}Tâches{% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block stylesheets %} {% endblock %}
        <style>
          .grid{
            display: flex;
            justify-content: space-around;
          }
          .flex_card{
            display: flex;
             flex-wrap: wrap;
             align-content: stretch;
          }
          .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
          }
        .card .btn-success {
          border: none;
          outline: 0;
          padding: 12px;
          color: white;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }
        .form_register{
          width: 60%;
          margin: 100px auto;
          box-shadow: 5px 5px 5px tomato;
          background: rgb(234, 244, 226);
        }
        </style>

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-danger" style="padding: 0px 2rem;">
        <a class="navbar-brand" href="{{ path('task_index')}}" style="font-size: 2em;">Tâches</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>
